header{
    display:flex;
    justify-content: center;
    width:100%;
}
.title{
    display: flex;
    justify-content: center;
}
.card {
    width: 200px;
    height: 250px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
}
.back-face {
    transform: rotateY(180deg);
}
.desrodar-back-face {
    transform: rotateY(0deg);
}
.rodar-front-face {
    transform: rotateY(-180deg);
}
.cards {
    background-color: #EEF9BF;
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 25px;
}