/* gerais */
body {
    background-color: #fafafa;
    font-family: 'Roboto';
}

.tela2-h1 h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}

h3 {
    line-height: 43px;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    z-index: 1;
}

/* parte de cima pagina */

.topbar {
    height: 69px;
    width: 100vw;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.banner {
    height: 227px;
    width: 100vw;
    background-image: url("https://s3-alpha-sig.figma.com/img/60f6/4bae/cb4c4e815fc36d9f0f0579a657241eba?Expires=1651449600&Signature=P7wfbXBFDhqcagj34oaSeU5yC57aWtj7vsEVMrZgXGDyXv~02hyr8q12kFpBMCsnMDtopybt7DReSR8KPjEbyMSmzeboDu2rqjrwTpe7k9zxrfIuoNCpmdPA5D7VJcP2nt4OjDZyJrCHUsNBNKE~CrgbzvkSgqMtcyH97IMH-azDZSm7sKnqyojKFSfcR1TV7x6cKmD1Yce5nfVzTK8Siv9aMXIdM5P~oXvoudONr9Hq6mcLpgZlOYCmbjvQsTDwKuq9YWvr6hGsA9C4jEP-d9J2Pli~cl8NFS4TQUK9F7mVU6pltUQsgpes5N7lXfyI50gyF8p6R~zj3VbsNeeQWQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* parte de baixo pagina */

.tela2-container {
    background-color: white;
    width: 759px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding-top: 34px;
    padding-bottom: 34px;
    
}

.cabecalho {
    width: 688.16px;
    height: 137.99px;
    background-color: #434CA0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 34px;
    color: white;
    text-align: center;
}

.cabecalho2 {
    width: 688.16px;
    height: 137.99px;
    background-color: #A0438D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 34px;
    color: white;
    text-align: center;
}

.cabecalho3 {
    width: 688.16px;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 34px;
    color: white;
    text-align: center;
}

.quizzes {
display: flex;
}

.quizz {
    width: 330.91px;
    height: 175.2px;
    margin-top: 20px;
    background-size: cover;
    background-image: url("https://s3-alpha-sig.figma.com/img/7212/aa92/e0229a2cb5aea15ab3fd2b5d36cb9a60?Expires=1651449600&Signature=Le3h9pkCoXPY1QrLnv3vZUPheJ56R3-55nKS9fqcnFFr8yY11ZP~AEUhQ2nJyCYJLPtqdBordKC2SVwyTo7ClVAB32F-B6MQw7MhhFZYzm2TOgn-WtkYo1EPoBao9k07gebOPYo82u-qhhZklOeZe~cltVwj0ov0fpVwHRY5Yku1dCrkqoEprDM6zlF0YcMKO5lqqJOGzHhlgfwV40Wu5EH2HxnqAU8kygwq361ZLycy0qQ5~RnLK3m9mMOwFCfBkh4zM5aN2hHge-cr4MXJ8v5a5SQgBcF2VHZac9gWFk~CMGYpmkSFDqbaaKdJ0bauRewOM~I6ieh6HwXHg3WatQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}

.margem {
    margin-right: 24.2px;
    margin-left: 34px;
}

.acertos {
    width: 364px;
    height: 273px;
}

.caixatexto {
    margin-top: 20px;
    color: #484848;
    width: 330.91px;
}

.textoparabens {
    font-weight: bold;
    Font-size: 19px;
    Line-height: 25px;
    Line-height: 112%;
    Vertical-align: Top;
}

.botaoreiniciar{
    width: 260.38px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EC362D;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 57px;
}

.voltarhome{
    width: 260.38px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 57px;
    color: #818181;
}

/* estilos imagem/texto selecionados */

.imgnaoselecionada {
    opacity: 0.3;
}

.textocerto {
    color: #009C22;
}

.textoerrado {
    color: #009C22;
}

/* estilos textos */

.estilo1 {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.estilo2 {
    margin-top: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.estilo3 {
    Font-size: 21px;
    Line-height: 25px;
}

/* responsividade */
@media(max-width: 1100px) {

    .tela2-container{
        width: 375px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .cabecalho{
        width: 340px;
        margin-left: 18px;
    }

    .cabecalho2{
        width: 340px;
        margin-left: 18px;
    }

    .cabecalho3{
        width: 340px;
        margin-left: 18px;
    }

    .quizz {
        width: 163px;
        height: 113px;
        margin-top: 13px;
    }

    .mensagemfinal {
        display: flex;
        flex-direction: column;
    }
    
    .margem {
        margin-right: 13px;
        margin-left: 18px;
    }

    .estilo2 {
        margin-top: 7px;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
    }

    .estilo3 {
        Font-size: 18px;
    }

    .acertos {
        width: 340px;
        height: 255px;
    }
    
    .caixatexto {
        margin-top: 14px;
        color: #484848;
        width: 330.91px;
        margin-left: 18px;
    }
    
    .textoparabens {
        font-weight: bold;
        Font-size: 17px;
        Line-height: 20px;
        Line-height: 100%;
        Vertical-align: Top;
    }
}