/* Geral */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
}

body {
}

.tela1 {
}

/* Topo */
.topo {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 77px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.topo h1 {
  font-size: 37px;
  color: #ffffff;
  font-weight: bold;
}

/* Conteúdo (main) */

main {
  padding: 137px 194px;
}

section {
  margin: 0 auto;
}

/* Meus Quizzes (vazio) */
.quizz-vazio {
  width: 1050px;
  height: 181px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 0px;
  border: 1px solid #d4d4d4;
  margin: 0 auto;
}

.quizz-vazio p {
  color: #b9b9b9;
  font-size: 20px;
  text-align: center;
}

.quizz-vazio button {
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: 1px dashed #ec362d;
  color: #ec362d;
  background-color: #fafafa;
  margin-top: 30px;
}

/* Meus Quizzes (completo) */

.quizz-completo {
  width: 1050px;
  margin: 0 auto;
}

.quizz-completo .tela1-titulo {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.tela1-titulo > h3 {
  margin-left: 5px;
}

.quizz-completo ion-icon {
  width: 30px;
  height: 30px;
  color: #ec362d;
}

.quizz-completo h3 {
  font-size: 20px;
  font-weight: bold;
  margin-right: 17px;
}

.quizz-completo .tela1-quizzes {
  display: flex;
  flex-wrap: wrap;
}

/* Todos os Quizzes */

.todos-quizz {
  width: 1050px;
  margin-top: 77px;
}

.todos-quizz h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.tela1-quizzes { 
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.simpsons {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://s3-alpha-sig.figma.com/img/0944/77cf/673132f4da1ae224b665fd9dfeffb556?Expires=1651449600&Signature=I5DQl~unwCWPWx31SKX6m3M6oCZhdCol9vC6VArPFKH62pKoQ1FC65y9Dvt5ruYbkAkN-0Q83TzRGmP3ryovOr9vpV-fv8fjsf7wsyDld6lLDpzlmUlaPISp3Ku3wcw-kad-0t~FPUoA0JtRSYlLqB1m2I1BL4qf1WyFDihxXmQIveBtzt2sUsPe98rdUnA-G0yPexB~L1R0~FXtO~UoKqjB3McQFPahoEooAli~HtnYYINLeqAzw7uvUiW9egIU3v3MFYEu7qGxSsn6kjfPcoJKvKBWn3pS9penfZ2xPrfEPLxCVrTKvJpB6gvk6EuL2arG3IVgCJOR189Ub3CTKg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
}

.de-boas {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://s3-alpha-sig.figma.com/img/64d4/7d80/ee972fbf4fbabdbfebb6bcf202204d48?Expires=1651449600&Signature=UCyqea9GcgXLm-xjmqLEx34JXlZmUG7iq-stATXPXPwRpgIgGrB3obm09~XIzfKofvbGK2Cl~DJ25nB7DPaetPzbuu2I9-aF9wfbU2MXggCXPAJg1FbxA32KTf-HUIZOuSrFpwc~yc~TSjDa5-~97QifgVFp8buxH75jWQ9opVIiNxTFW9nh9u5XXk3jAKI0KbfixmEe7hkZ5BBAZzwj5mbmTifbEEOfWpHktiJBqpDyqjp8CzGLpAiJDZBWEKd5JOzJy2BrXqij502nebBFeKkUWxf11R0KiVAaW2Zy5X~5NDYx5tDAnV3SGVgVFEKe9tGTGPMica2Xh6KLQLl2OQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
}

.tela1-quizz {
  width: 340px;
  height: 180px;
  position: relative;
  margin: 5px 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.tela1-quizz p {
  font-size: 19px;
  color: #ffffff;
  position: absolute;
  bottom: 6px;
  left: 18px;
}

/* Responsividade */

@media(max-width: 1100px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
    padding: 137px 30px;
  }

  .quizz-vazio {
    width: 100%
  }

  .quizz-completo {
    width: 100%;
  }

  .todos-quizz {
    width: 100%;
  }
}

/* Javascript */

.oculto {
  display: none;
}
